* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Style Attribute {
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
box-sizing:
label, input, button, select, textarea {
    font-family: Calibri;
    font-size: inherit;
    line-height: inherit;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
label {
    cursor: default;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
user agent stylesheet
table {
    border-collapse: separate;
    border-spacing: 2px;
}
Style Attribute {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    font-family: Calibri;
    font-weight: 400;
    color: black;
    line-height: 1em;
}
h4 {
    font-size: 28px;
}
h4, .h4 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
user agent stylesheet
h4 {
    font-weight: bold;
}
.maternity_form {
    background-color: #35d6c6;
    color: #ffff;
    font-family: calibri;
    padding: 10px 30px;
}
body {
    font-family: Calibri !important;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
box-sizing:border-box;
color:
element.style {
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    font-family: Calibri;
    font-weight: 400;
    color: #444;
    line-height: 1em;
}
h4 {
    font-size: 28px;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
Style Attribute {
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: fadeInUp;
}
body {
    width: 100%;
    height: 100%;
    font-family: Calibri;
    font-weight: 300;
    color: #666;
    font-size: 16px;
    line-height: 1.6em;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
box-sizing: